apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: app-template
    version: 4.6.2
    repo: https://bjw-s-labs.github.io/helm-charts
    releaseName: system-backup
    namespace: system
    valuesFile: values.yaml
configMapGenerator:
  - name: system-backup
    files:
      - resources/cron.sh
      - resources/entrypoint.sh
    options:
      disableNameSuffixHash: true
resources:
  - pvc.yaml
  - rbac.yaml
