---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: samba
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: samba
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/crazy-max/samba
              tag: 4.19.9
            env:
              SAMBA_HOSTS_ALLOW: 0.0.0.0/0
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
        annotations:
          secret.reloader.stakater.com/reload: samba-secret
    service:
      main:
        controller: main
        primary: true
        type: LoadBalancer
        loadBalancerIP: ${LB_SAMBA}
        ports:
          samba:
            port: 445
            protocol: TCP
            targetPort: 445
        externalTrafficPolicy: Local
    persistence:
      config:
        existingClaim: samba-data
        globalMounts:
          - path: /share/samba
      data:
        type: secret
        name: samba-secret
        globalMounts:
          - path: /data/config.yml
            readOnly: true
            subPath: config.yml
