apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n
  namespace: automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
