---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.79.2/bundle.yaml
patches:
  - target:
      name: "[^\\.]+"
    patch: |-
      $patch: delete
      apiVersion: not-used
      kind: not-used
      metadata:
        name: not-used
