---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/traefik/traefik/v3.3.2/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
