---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kopia
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: kopia
    controllers:
      main:
        containers:
          main:
            image:
              repository: docker.io/kopia/kopia
              tag: 0.18.2
            env:
              KOPIA_PASSWORD: none
            command:
              - /bin/sh
            args:
              - -c
              - if [ ! -f /backups/kopia.repository.f ];
                then kopia repository create filesystem --path=/backups; fi &&
                kopia server start --insecure --address 0.0.0.0:80
                --server-username $SERVER_USERNAME --server-password $SERVER_PASSWORD
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        annotations:
          configmap.reloader.stakater.com/reload: kopia
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 80
    ingress:
      main:
        className: traefik
        hosts:
          - host: kopia.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - kopia.${DOMAIN}
    persistence:
      config:
        type: configMap
        name: kopia
        globalMounts:
          - path: /app/config/repository.config
            readOnly: true
            subPath: repository.config
      backup:
        existingClaim: kopia-data
        globalMounts:
          - path: /backups
  valuesFrom:
    - kind: Secret
      name: kopia-secret
      valuesKey: username
      targetPath: controllers.main.containers.main.env.SERVER_USERNAME
    - kind: Secret
      name: kopia-secret
      valuesKey: password
      targetPath: controllers.main.containers.main.env.SERVER_PASSWORD
