# Ansible
USER=
PASSWORD=

# Common
EMAIL=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDER=

# Cloudflare
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_DOMAIN=

# GitHub
GITHUB_TOKEN=
