---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flame
  namespace: utility
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: flame
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/fdarveau/flame
              tag: "2023-08-04"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        annotations:
          secret.reloader.stakater.com/reload: flame-secret
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 5005
    ingress:
      main:
        className: traefik
        hosts:
          - host: ${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - ${DOMAIN}
    persistence:
      config:
        existingClaim: flame-data
        globalMounts:
          - path: /app/data
  valuesFrom:
    - kind: Secret
      name: flame-secret
      valuesKey: password
      targetPath: controllers.main.containers.main.env.PASSWORD
