annotations:
  secret.reloader.stakater.com/reload: velero
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
    spec:
      - alert: VeleroBackupFailed
        annotations:
          summary: Velero backup has failed
        expr: >-
          sum(increase(velero_backup_failure_total{schedule!=""}[1h]) +
          increase(velero_backup_partial_failure_total{schedule!=""}[1h])) > 0
        for: 15m
        labels:
          severity: warning
      - alert: VeleroNoNewBackup
        annotations:
          summary: Velero backup has not run successfully in the last 30h
        expr: >-
          (rate(velero_backup_last_successful_timestamp{schedule!=""}[15m]) <= 0 or
          absent(velero_backup_last_successful_timestamp{schedule!=""})) == 1
        for: 30h
        labels:
          severity: critical
kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
    tag: 1.33.4
configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: chamburr-homelab
      default: true
      credential:
        name: velero
        key: __cloud
      config:
        region: us-west-004
        s3ForcePathStyle: true
        s3Url: https://s3.us-west-004.backblazeb2.com
        checksumAlgorithm: ""
  volumeSnapshotLocation:
    - name: default
      provider: csi
  features: EnableCSI
  namespace: system
deployNodeAgent: true
schedules:
  daily:
    schedule: 0 11 * * *
    template:
      ttl: 168h
      snapshotMoveData: true
