controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/fdarveau/flame
          tag: latest@sha256:28819eb04625db802d7948f3afc780c5cbdbeacd1b4e167404437a5d6c283527
        env:
          PASSWORD:
            valueFrom:
              secretKeyRef:
                name: flame
                key: password
    annotations:
      reloader.stakater.com/auto: "true"
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        port: 5005
ingress:
  main:
    className: traefik
    hosts:
      - host: chamburr.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
persistence:
  data:
    existingClaim: flame
    globalMounts:
      - path: /app/data
