controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/fdarveau/flame
          tag: latest@sha256:c00857e92ce2b36b3cf22b63b023ec48c9f4f2f776d1f545b46818861f88db94
        env:
          PASSWORD:
            valueFrom:
              secretKeyRef:
                name: flame
                key: password
    annotations:
      reloader.stakater.com/auto: "true"
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        port: 5005
ingress:
  main:
    className: traefik
    hosts:
      - host: chamburr.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
persistence:
  data:
    existingClaim: flame
    globalMounts:
      - path: /app/data
