apiVersion: v1
kind: Service
metadata:
  name: traefik-opnsense
  namespace: networking
spec:
  type: ExternalName
  externalName: 192.168.123.1
  ports:
    - name: https
      port: 443
      targetPort: 443
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-opnsense
  namespace: networking
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: >-
      networking-global-internal-only@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: opnsense.chamburr.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: traefik-opnsense
                port:
                  number: 443
