controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/librespeed/speedtest
          tag: 5.5.0
        env:
          MODE: standalone
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        port: 80
ingress:
  main:
    className: traefik
    hosts:
      - host: speedtest.chamburr.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
