---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kutt-redis
  namespace: utility
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 20.6.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nameOverride: kutt-redis
    fullnameOverride: kutt-redis
    auth:
      enabled: false
    master:
      pdb:
        create: false
      persistence:
        enabled: true
        existingClaim: kutt-redis
      resourcesPreset: none
    architecture: standalone
