---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mattermost-postgresql
  namespace: automation
spec:
  interval: 15m
  chart:
    spec:
      chart: postgresql
      version: 16.4.3
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nameOverride: mattermost-postgresql
    fullnameOverride: mattermost-postgresql
    auth:
      enablePostgresUser: true
      postgresPassword: mattermost-pass
      database: mattermost
    primary:
      pdb:
        create: false
      persistence:
        enabled: true
        existingClaim: mattermost-postgresql
      resourcesPreset: none
