---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: flux-installation
  namespace: flux-system
spec:
  interval: 10m
  url: https://github.com/fluxcd/flux2
  ref:
    # renovate source=github-releases name=fluxcd/flux2
    tag: v2.5.1
  ignore: |
    /*
    !/manifests
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-installation
  namespace: flux-system
spec:
  interval: 10m
  path: ./manifests/install
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-installation
  patches:
    - target:
        group: networking.k8s.io
        version: v1
        kind: NetworkPolicy
      patch: |-
        $patch: delete
        apiVersion: networking.k8s.io/v1
        kind: NetworkPolicy
        metadata:
          name: not-used
    - target:
        group: apps
        version: v1
        kind: Deployment
        name: kustomize-controller
      patch: |-
        - op: add
          path: /spec/template/spec/containers/0/args/-
          value: --requeue-dependency=5s
