---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
  namespace: automation
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: n8n
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 1.77.1
            command:
              - tini
              - --
            args:
              - /bin/sh
              - -c
              - apk add --no-cache su-exec &&
                sed -i 's/isFeatureEnabled(feature) {/isFeatureEnabled(feature) { return true;/'
                /usr/local/lib/node_modules/n8n/dist/license.js &&
                sed -i 's/SHOW_NON_PROD_BANNER)/SHOW_NON_PROD_BANNER) === false/'
                /usr/local/lib/node_modules/n8n/dist/services/frontend.service.js &&
                su-exec node /docker-entrypoint.sh
            env:
              N8N_PORT: 5678
              N8N_PROTOCOL: https
              WEBHOOK_URL: https://n8n.${DOMAIN}
              N8N_EDITOR_BASE_URL: https://n8n.${DOMAIN}
              N8N_TEMPLATES_ENABLED: false
              N8N_PERSONALIZATION_ENABLED: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: false
              N8N_DIAGONISTICS_ENABLED: false
              N8N_HIRING_BANNER_ENABLED: false
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 24
              GENERIC_TIMEZONE: Asia/Singapore
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 1000
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 5678
    ingress:
      main:
        className: traefik
        hosts:
          - host: n8n.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - n8n.${DOMAIN}
    persistence:
      config:
        existingClaim: n8n-data
        globalMounts:
          - path: /home/node/.n8n
