---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 15m
  chart:
    spec:
      chart: rook-ceph
      version: v1.16.5
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    crds:
      enabled: false
    csi:
      enableCephfsDriver: false
      enableCephfsSnapshotter: false
      enableNFSSnapshotter: false
      enableRBDSnapshotter: false
      provisionerReplicas: 1
      csiRBDProvisionerResource: "[]"
      csiRBDPluginResource: "[]"
    resources: null
    monitoring:
      enabled: true
