apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: reloader
    version: 2.2.8
    repo: https://stakater.github.io/stakater-charts
    releaseName: reloader
    namespace: system
    valuesFile: values.yaml
