---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 6.6.3
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nextcloud:
      host: cloud.${DOMAIN}
      username: admin
      password: nextcloud
      mail:
        enabled: true
        fromAddress: ${MAIL_SENDER%@*}
        domain: ${MAIL_SENDER#*@}
        smtp:
          authtype: LOGIN
          host: ${MAIL_HOST}
          port: ${MAIL_PORT}
          name: ${MAIL_USERNAME}
          password: ${MAIL_PASSWORD}
          secure: tls
      phpConfigs:
        zcustom.ini: |
          apc.enable_cli = 1
          post_max_size = 32G
          upload_max_filesize = 32G
          max_input_time = 3600
          max_execution_time = 3600
          memory_limit = 1024M
      configs:
        custom.config.php: |
          <?php
          $CONFIG = array (
            'trusted_domains' => array('cloud.${DOMAIN}'),
            'default_language' => 'en',
            'default_locale' => 'en_SG',
            'default_phone_region' => 'SG',
            'knowledgebaseenabled' => false,
            'auth.webauthn.enabled' => false,
            'skeletondirectory' => '',
            'templateddirectory' => '',
            'overwritehost' => 'cloud.${DOMAIN}',
            'overwriteprotocol' => 'https',
            'overwrite.cli.url' => 'https://cloud.${DOMAIN}',
            'allow_local_remote_servers' => true,
            'trashbin_retention_obligation' => 'auto, 30',
            'versions_retention_obligation' => 'auto, 30',
            'updatechecker' => false,
            'check_data_directory_permissions' => false,
            'trusted_proxies' => array('${K8S_POD_CIDR}', '169.254.0.0/16'),
            'upgrade.disable-web' => true,
            'simpleSignUpLink.shown' => false,
            'profile.enabled' => false,
            'maintenance_window_start' => 17,
          );
      extraSidecarContainers:
        - name: nextcloud-push
          image: docker.io/icewind1991/notify_push:1.0.0
          env:
            - name: DATABASE_URL
              value: postgres://postgres:nextcloud-pass@nextcloud-postgresql/nextcloud
            - name: DATABASE_PREFIX
              value: oc_
            - name: REDIS_URL
              value: redis://:nextcloud-pass@nextcloud-redis-master
            - name: NEXTCLOUD_URL
              value: http://nextcloud:8080
    cronjob:
      enabled: true
    internalDatabase:
      enabled: false
    postgresql:
      enabled: true
      global: null
      auth:
        enablePostgresUser: true
        postgresPassword: nextcloud-pass
        database: nextcloud
      primary:
        pdb:
          create: false
        persistence:
          enabled: true
          existingClaim: nextcloud-postgresql
        resourcesPreset: none
    redis:
      enabled: true
      auth:
        enabled: true
        password: nextcloud-pass
      master:
        pdb:
          create: false
        persistence:
          enabled: true
          existingClaim: nextcloud-redis
        resourcesPreset: none
      architecture: standalone
    persistence:
      enabled: true
      existingClaim: nextcloud-config
      nextcloudData:
        enabled: true
        existingClaim: nextcloud-data
    ingress:
      enabled: true
      className: traefik
      path: /
      pathType: Prefix
      tls:
        - hosts:
            - cloud.${DOMAIN}
    podAnnotations:
      secret.reloader.stakater.com/reload: nextcloud-secret
    startupProbe:
      enabled: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: nextcloud
            patch: |-
              - op: remove
                path: /spec/template/spec/containers/0/volumeMounts/2/subPath
              - op: remove
                path: /spec/template/spec/containers/1/volumeMounts/2/subPath
          - target:
              kind: Secret
              name: nextcloud-db
            patch: |-
              - op: add
                path: /data/db-username
                value: cG9zdGdyZXM=
              - op: add
                path: /data/db-password
                value: bmV4dGNsb3VkLXBhc3M=
          - target:
              kind: Service
              name: nextcloud
            patch: |-
              - op: add
                path: /spec/ports/-
                value:
                  name: push
                  port: 7867
                  protocol: TCP
                  targetPort: 7867
          - target:
              kind: Ingress
              name: nextcloud
            patch: |-
              - op: add
                path: /spec/rules/0/http/paths/-
                value:
                  path: /push
                  pathType: Prefix
                  backend:
                    service:
                      name: nextcloud
                      port:
                        number: 7867
