---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: cilium
spec:
  interval: 15m
  chart:
    spec:
      chart: cilium
      version: 1.17.0
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    ipam:
      mode: kubernetes
    rollOutCiliumPods: true
    operator:
      replicas: 1
      rollOutPods: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    hubble:
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
        serviceMonitor:
          enabled: true
        dashboards:
          enabled: false
    cni:
      resources: null
    nodeinit:
      resources: null
    securityContext:
      privileged: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: ServiceMonitor
              name: cilium-agent
            patch: |-
              - op: remove
                path: /spec/endpoints/0/interval
          - target:
              kind: ServiceMonitor
              name: cilium-operator
            patch: |-
              - op: remove
                path: /spec/endpoints/0/interval
          - target:
              kind: ServiceMonitor
              name: hubble
            patch: |-
              - op: remove
                path: /spec/endpoints/0/interval
