---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: uptime-kuma
    controllers:
      main:
        containers:
          main:
            image:
              repository: docker.io/louislam/uptime-kuma
              tag: 1.23.16
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 3001
    ingress:
      main:
        className: traefik
        hosts:
          - host: status.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - status.${DOMAIN}
    persistence:
      config:
        existingClaim: uptime-kuma-data
        globalMounts:
          - path: /app/data
