---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault-secrets
  namespace: vault
spec:
  interval: 15m
  chart:
    spec:
      chart: vault-secrets-operator
      version: 2.7.0
      sourceRef:
        kind: HelmRepository
        name: ricoberger
        namespace: flux-system
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
  dependsOn:
    - name: vault
      namespace: vault
  values:
    nameOverride: vault-secrets
    fullnameOverride: vault-secrets
    replicaCount: 1
    vault:
      address: http://vault:8200
      authMethod: kubernetes
      kubernetesPath: auth/kubernetes
      kubernetesRole: vault-secrets
      reconciliationTime: "60"
    serviceAccount:
      name: vault-secrets
