---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 68.4.5
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: flux-system
  dependsOn:
    - name: thanos
      namespace: monitoring
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    crds:
      enabled: false
    nameOverride: prometheus
    fullnameOverride: prometheus
    defaultRules:
      create: false
    alertmanager:
      enabled: false
    grafana:
      enabled: false
    kubeControllerManager:
      service:
        selector:
          k8s-app: kube-controller-manager
    kubeEtcd:
      service:
        port: 2379
        targetPort: 2379
        selector:
          k8s-app: kube-apiserver
      serviceMonitor:
        scheme: https
        caFile: /etc/prometheus/secrets/etcd-client-cert/ca.crt
        certFile: /etc/prometheus/secrets/etcd-client-cert/admin.crt
        keyFile: /etc/prometheus/secrets/etcd-client-cert/admin.key
    kubeScheduler:
      service:
        selector:
          k8s-app: kube-scheduler
    kube-state-metrics:
      nameOverride: prometheus-state-metrics
      fullnameOverride: prometheus-state-metrics
    prometheus-node-exporter:
      nameOverride: prometheus-node-exporter
      fullnameOverride: prometheus-node-exporter
    prometheusOperator:
      admissionWebhooks:
        enabled: false
      prometheusConfigReloader:
        resources:
          requests:
            cpu: 0
            memory: 0
          limits:
            cpu: 0
            memory: 0
    prometheus:
      prometheusSpec:
        enableAdminAPI: true
        walCompression: true
        replicas: 1
        replicaExternalLabelName: replica
        retention: 3h
        ruleSelector:
          matchLabels: null
        serviceMonitorSelector:
          matchLabels: null
        podMonitorSelector:
          matchLabels: null
        remoteWrite:
          - url: http://thanos-receive:19291/api/v1/receive
        volumes:
          - name: web-config-2
            secret:
              defaultMode: 0644
              secretName: prometheus-secret
          - name: etcd-client-cert
            hostPath:
              path: /system/secrets/etcd
        volumeMounts:
          - name: etcd-client-cert
            mountPath: /etc/prometheus/secrets/etcd-client-cert
            readOnly: true
        securityContext:
          runAsUser: 60
          runAsGroup: 60
          fsGroup: 60
      ingress:
        enabled: true
        pathType: Prefix
        ingressClassName: traefik
        hosts:
          - prometheus.${DOMAIN}
        tls:
          - hosts:
              - prometheus.${DOMAIN}
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: >-
            monitoring-prometheus-basic-auth@kubernetescrd
    cleanPrometheusOperatorObjectNames: true
  valuesFrom:
    - kind: ConfigMap
      name: prometheus
      valuesKey: values.yaml
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Secret
              name: prometheus-prometheus
            patch: |-
              $patch: delete
              apiVersion: not-used
              kind: not-used
              metadata:
                name: not-used
