<network>
  <name>{{ network_name }}</name>
  <forward mode='open'/>
  <ip address='{{ network_address }}' netmask='{{ network_mask }}'>
    <dhcp>
      <range start='{{ network_start }}' end='{{ network_end }}'/>
    </dhcp>
  </ip>
</network>
