<network>
  <name>{{ kubernetes_network_name }}</name>
  <forward mode='open'/>
  <dns enable='no'/>
  <ip address='{{ kubernetes_network_address }}' netmask='{{ kubernetes_network_mask }}'>
    <dhcp>
      <range start='{{ kubernetes_network_start }}' end='{{ kubernetes_network_end }}'/>
    </dhcp>
  </ip>
</network>
