---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vector
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vector
      version: 0.41.0
      sourceRef:
        kind: HelmRepository
        name: vector
        namespace: flux-system
  dependsOn:
    - name: loki
      namespace: monitoring
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    role: Stateless-Aggregator
    service:
      enabled: true
      type: LoadBalancer
      loadBalancerIP: ${LB_VECTOR}
      externalTrafficPolicy: Local
    customConfig:
      data_dir: /vector-data-dir
      api:
        enabled: false
      sources:
        kubernetes_logs:
          address: 0.0.0.0:6000
          type: vector
          version: "2"
        talos_kernel_logs:
          address: 0.0.0.0:6050
          type: socket
          mode: udp
          max_length: 102400
          decoding:
            codec: json
          host_key: __host
        talos_service_logs:
          address: 0.0.0.0:6051
          type: socket
          mode: udp
          max_length: 102400
          decoding:
            codec: json
          host_key: __host
      transforms:
        kubernetes_transform:
          type: remap
          inputs:
            - kubernetes_logs
          source: >-
            .pod_app_name = .kubernetes.pod_labels."app.kubernetes.io/name"
            || .kubernetes.pod_labels.app || .kubernetes.pod_labels."k8s-app" || "unknown"
      sinks:
        kubernetes_sink:
          type: loki
          inputs:
            - kubernetes_transform
          endpoint: http://loki:3100
          encoding:
            codec: json
          batch:
            max_bytes: 400000
          out_of_order_action: rewrite_timestamp
          labels:
            _job: kubernetes
            namespace: "{{`{{ kubernetes.pod_namespace }}`}}"
            app: "{{`{{ pod_app_name }}`}}"
        talos_kernel_sink:
          type: loki
          inputs:
            - talos_kernel_logs
          endpoint: http://loki:3100
          encoding:
            codec: json
            except_fields:
              - __host
          batch:
            max_bytes: 400000
          out_of_order_action: rewrite_timestamp
          labels:
            _job: talos_kernel
            hostname: "{{`{{ __host }}`}}"
        talos_service_sink:
          type: loki
          inputs:
            - talos_service_logs
          endpoint: http://loki:3100
          encoding:
            codec: json
            except_fields:
              - __host
          batch:
            max_bytes: 400000
          out_of_order_action: rewrite_timestamp
          labels:
            _job: talos_service
            hostname: "{{`{{ __host }}`}}"
            service: '{{`{{ "talos-service" }}`}}'
