---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/ricoberger/vault-secrets-operator/v1.26.0/charts/vault-secrets-operator/crds/ricoberger.de_vaultsecrets.yaml
