---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kutt-postgresql
  namespace: utility
spec:
  interval: 15m
  chart:
    spec:
      chart: postgresql
      version: 16.4.3
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nameOverride: kutt-postgresql
    fullnameOverride: kutt-postgresql
    auth:
      enablePostgresUser: true
      postgresPassword: kutt-pass
      database: kutt
    primary:
      pdb:
        create: false
      persistence:
        enabled: true
        existingClaim: kutt-postgresql
      resourcesPreset: none
