apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: cert-manager
    version: v1.19.2
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    namespace: networking
    includeCRDs: true
    valuesFile: values.yaml
resources:
  - config
  - secret.yaml
