---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-postgresql
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: postgresql
      version: 16.4.4
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nameOverride: immich-postgresql
    fullnameOverride: immich-postgresql
    global:
      security:
        allowInsecureImages: true
    image:
      registry: docker.io
      repository: tensorchord/pgvecto-rs
      tag: pg16-v0.3.0
    auth:
      enablePostgresUser: true
      postgresPassword: immich-pass
    primary:
      pdb:
        create: false
      persistence:
        enabled: true
        existingClaim: immich-postgresql
      containerSecurityContext:
        readOnlyRootFilesystem: false
      args:
        - postgres
        - -c
        - shared_preload_libraries=vectors.so
        - -c
        - search_path="$user", public, vectors
      extraEnvVars:
        - name: POSTGRES_DB
          value: immich
      resourcesPreset: none
