[DEFAULT]
banaction = {{ network_fail2ban_ban_action }}
maxretry = {{ network_fail2ban_max_retry }}
findtime = {{ network_fail2ban_find_time }}
bantime = {{ network_fail2ban_ban_time }}
ignoreip = {{ network_fail2ban_ignore_ip | join(' ') }}

[sshd]
enabled = true
port = 22
filter = sshd
