[Unit]
Description=Socat server
After=network.target

[Service]
Type=simple
StandardOutput=null
StandardError=null
ExecStart=sh -c ' \
{% for port in socat_tcp_ports %}
  /usr/bin/socat tcp-listen:{{ port }},reuseaddr,fork tcp:{{ socat_address }}:{{ port }} & \
{% endfor %}
{% for port in socat_udp_ports %}
  /usr/bin/socat udp-listen:{{ port }},reuseaddr,fork udp:{{ socat_address }}:{{ port }} & \
{% endfor %}
  wait \
'
Restart=always

[Install]
WantedBy=multi-user.target
