apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: kube-prometheus-stack
    version: 79.12.0
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
resources:
  - middleware.yaml
  - pvc.yaml
  - secret.yaml
