apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: app-template
    version: 4.6.2
    repo: https://bjw-s-labs.github.io/helm-charts
    releaseName: system-upgrade
    namespace: system
    valuesFile: values.yaml
resources:
  - https://github.com/rancher/system-upgrade-controller/releases/download/v0.19.0/crd.yaml
  - plans
  - rbac.yaml
