apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: argocd-apps
    version: 2.0.4
    repo: https://argoproj.github.io/argo-helm
    releaseName: argocd-apps
    namespace: argocd
    valuesFile: values.yaml
