---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea
  namespace: developer
spec:
  interval: 15m
  chart:
    spec:
      chart: gitea
      version: 11.0.0
      sourceRef:
        kind: HelmRepository
        name: gitea
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    gitea:
      admin:
        username: ""
        password: ""
      config:
        repository:
          DEFAULT_PRIVATE: public
          DEFAULT_REPO_UNITS: repo.code,repo.releases,repo.issues,repo.pulls,repo.wiki
          DEFAULT_BRANCH: main
        repository.pull-request:
          DEFAULT_MERGE_STYLE: squash
        server:
          DOMAIN: git.${DOMAIN}
          ROOT_URL: https://git.${DOMAIN}
          DISABLE_SSH: true
        database:
          DB_TYPE: sqlite3
          LOG_SQL: false
        indexer:
          REPO_INDEXER_ENABLED: true
        queue:
          TYPE: level
        service:
          DISABLE_REGISTRATION: true
          ENABLE_NOTIFY_MAIL: true
          DEFAULT_ALLOW_CREATE_ORGANIZATION: false
          DEFAULT_ENABLE_DEPENDENCIES: false
          ENABLE_TIMETRACKING: false
          DEFAULT_ENABLE_TIMETRACKING: false
          SHOW_MILESTONES_DASHBOARD_PAGE: false
        mailer:
          ENABLED: true
          PROTOCOL: smtp+starttls
          SMTP_ADDR: ${MAIL_HOST}
          SMTP_PORT: ${MAIL_PORT}
          USER: ${MAIL_USERNAME}
          PASSWD: ${MAIL_PASSWORD}
          FROM: ${MAIL_SENDER}
        cache:
          ADAPTER: memory
        session:
          PROVIDER: memory
        picture:
          AVATAR_MAX_FILE_SIZE: "10485760"
        cron:
          ENABLED: true
        git:
          MAX_GIT_DIFF_LINES: 3000
          MAX_GIT_DIFF_FILES: 300
          GC_ARGS: --aggressive --auto
        api:
          ENABLE_SWAGGER: false
        oauth2:
          ENABLE: false
        packages:
          ENABLED: false
        other:
          ENABLE_SITEMAP: false
    redis-cluster:
      enabled: false
    postgresql:
      enabled: false
    postgresql-ha:
      enabled: false
    strategy:
      type: Recreate
    initContainers:
      resources: null
    persistence:
      enabled: true
      mount: true
      create: false
      claimName: gitea-data
    ingress:
      enabled: true
      className: traefik
      hosts:
        - host: git.${DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - git.${DOMAIN}
