---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: traefik
      version: 34.1.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
  values:
    deployment:
      replicas: 2
    ingressClass:
      enabled: true
      isDefaultClass: true
    ingressRoute:
      dashboard:
        enabled: false
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        ingressClass: traefik
    logs:
      general:
        level: INFO
      access:
        enabled: true
    metrics:
      prometheus:
        service:
          enabled: true
        serviceMonitor:
          enabled: true
    globalArguments:
      - --api.insecure=true
      - --serverstransport.insecureskipverify=true
      - --global.checknewversion=false
    additionalArguments:
      - --providers.kubernetesingress.ingressendpoint.ip=${LB_TRAEFIK}
      - --entrypoints.web.transport.respondingTimeouts.readTimeout=0
      - --entrypoints.websecure.transport.respondingTimeouts.readTimeout=0
    ports:
      traefik:
        expose:
          default: false
          internal: true
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        tls:
          enabled: true
          options: default
        middlewares:
          - networking-headers@kubernetescrd
    tlsOptions:
      default:
        minVersion: VersionTLS10
        maxVersion: VersionTLS13
        sniStrict: false
    service:
      enabled: true
      type: LoadBalancer
      spec:
        externalTrafficPolicy: Local
        loadBalancerIP: ${LB_TRAEFIK}
      additionalServices:
        internal:
          type: ClusterIP
          labels:
            traefik-service-label: internal
