---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 8.8.5
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    env:
      GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: true
    grafana.ini:
      server:
        root_url: https://grafana.${DOMAIN}
      analytics:
        reporting_enabled: false
        check_for_updates: false
        check_for_plugin_updates: false
        enable_feedback_links: false
      query_history:
        enabled: false
      metrics:
        enabled: false
      security:
        allow_embedding: true
      snapshots:
        external_enabled: false
      smtp:
        enabled: true
        host: ${MAIL_HOST}:${MAIL_PORT}
        username: ${MAIL_USERNAME}
        password: ${MAIL_PASSWORD}
        from_address: ${MAIL_SENDER}
    assertNoLeakedSecrets: false
    deploymentStrategy:
      type: Recreate
    persistence:
      enabled: true
      existingClaim: grafana-data
    ingress:
      enabled: true
      ingressClassName: traefik
      path: /
      pathType: Prefix
      hosts:
        - grafana.${DOMAIN}
      tls:
        - hosts:
            - grafana.${DOMAIN}
