apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: app-template
    version: 4.5.0
    repo: https://bjw-s-labs.github.io/helm-charts
    releaseName: ntfy
    namespace: automation
    valuesFile: values.yaml
resources:
  - pvc.yaml
  - secret.yaml
