---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: system
spec:
  interval: 15m
  chart:
    spec:
      chart: kyverno
      version: 3.3.5
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    crds:
      install: false
    admissionController:
      replicas: 1
      container:
        resources: null
      initContainer:
        resources: null
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: kyverno
    backgroundController:
      resources: null
    reportsController:
      resources: null
    cleanupController:
      enabled: false
