---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: system
spec:
  interval: 15m
  chart:
    spec:
      chart: reloader
      version: 1.2.1
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nameOverride: reloader
    fullnameOverride: reloader
    reloader:
      deployment:
        replicas: 1
