---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: haste
  namespace: utility
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: haste
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/skyra-project/haste-server
              tag: latest
            args:
              - /bin/sh
              - -c
              - sed -i -e 's/aeiou/ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/'
                -e 's/bcd.*xyz/ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/'
                /usr/src/app/dist/backend/lib/keyGenerator.js && sed -i 's/"txt",""/"txt","txt"/'
                /usr/src/app/dist/frontend/assets/index.js && sed -i 's/.\/data/\/config/'
                /usr/src/app/dist/backend/stores/FileDocumentStore.js && yarn run start
            env:
              KEY_LENGTH: 6
              RATE_LIMIT_MAX: 1000000000
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              fsGroup: 1000
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 8290
    ingress:
      main:
        className: traefik
        hosts:
          - host: p.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - p.${DOMAIN}
    persistence:
      config:
        existingClaim: haste-data
        globalMounts:
          - path: /config
