---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
  namespace: security
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: adguard-home
    controllers:
      main:
        containers:
          main:
            image:
              repository: docker.io/adguard/adguardhome
              tag: v0.107.57
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 3000
      dns:
        controller: main
        type: LoadBalancer
        loadBalancerIP: ${LB_ADGUARD}
        ports:
          dns-tcp:
            port: 53
            protocol: TCP
            targetPort: 53
          dns-udp:
            port: 53
            protocol: UDP
            targetPort: 53
        externalTrafficPolicy: Local
    ingress:
      main:
        className: traefik
        hosts:
          - host: adguard.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - adguard.${DOMAIN}
    persistence:
      config:
        existingClaim: adguard-home-config
        globalMounts:
          - path: /opt/adguardhome/conf
      data:
        existingClaim: adguard-home-data
        globalMounts:
          - path: /opt/adguardhome/work
