---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/kyverno/kyverno/releases/download/v1.13.4/install.yaml
patches:
  - target:
      name: "[^\\.]+"
    patch: |-
      $patch: delete
      apiVersion: not-used
      kind: not-used
      metadata:
        name: not-used
