---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netmaker
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: netmaker
    controllers:
      main:
        containers:
          main:
            image:
              repository: docker.io/gravitl/netmaker-ui
              tag: v0.30.0
            env:
              BACKEND_URL: https://netmaker-api.${DOMAIN}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 80
    ingress:
      main:
        className: traefik
        hosts:
          - host: netmaker.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - netmaker.${DOMAIN}
