apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos
spec:
  # renovate source=docker name=ghcr.io/siderolabs/installer
  version: 1.11.6
  concurrency: 1
  exclusive: true
  postCompleteDelay: 5m
  nodeSelector:
    matchExpressions:
      - key: feature.node.kubernetes.io/system-os_release.ID
        operator: In
        values:
          - talos
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
  secrets:
    - name: system-upgrade-account
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  serviceAccountName: system-upgrade
  upgrade:
    image: ghcr.io/siderolabs/talosctl:v1.11.6
    args:
      - --nodes=$(SYSTEM_UPGRADE_NODE_NAME)
      - upgrade
      - --image=ghcr.io/siderolabs/installer:v$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
      - --stage
      - --wait=false
