---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ipsec-vpn
  namespace: security
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      nameOverride: ipsec-vpn
    controllers:
      main:
        containers:
          main:
            image:
              repository: quay.io/hwdsl2/ipsec-vpn-server
              tag: latest@sha256:312b657736a60a78670a31f4812ae6c649902b5e9cb63792c5d8e572d0002726
            args:
              - /bin/sh
              - -c
              - sed -i -e 's/mobike=yes/mobike=no/g'
                -e 's/modecfgdns=.*/modecfgdns='$(dig -t A -4 +short "$VPN_DNS_SRV1")'/g'
                /etc/ipsec.d/ikev2.conf && /opt/src/run.sh
            env:
              VPN_DISABLE_IPSEC_L2TP: true
              VPN_DNS_NAME: ${DOMAIN}
              VPN_DNS_SRV1: adguard-home-dns.security.svc.cluster.local
              VPN_DNS_SRV2: ""
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - if [ "$(wget -qO- https://icanhazip.com)" ]; then exit 0; else exit $?; fi
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
        annotations:
          secret.reloader.stakater.com/reload: ipsec-vpn-secret
    service:
      main:
        controller: main
        primary: true
        type: LoadBalancer
        loadBalancerIP: ${LB_IPSEC_VPN}
        ports:
          ipsec:
            port: 500
            protocol: UDP
            targetPort: 500
          ikev2:
            port: 4500
            protocol: UDP
            targetPort: 4500
        externalTrafficPolicy: Local
    persistence:
      config:
        existingClaim: ipsec-vpn-data
        globalMounts:
          - path: /etc/ipsec.d
  valuesFrom:
    - kind: Secret
      name: ipsec-vpn-secret
      valuesKey: psk
      targetPath: controllers.main.containers.main.env.VPN_IPSEC_PSK
    - kind: Secret
      name: ipsec-vpn-secret
      valuesKey: username
      targetPath: controllers.main.containers.main.env.VPN_USER
    - kind: Secret
      name: ipsec-vpn-secret
      valuesKey: password
      targetPath: controllers.main.containers.main.env.VPN_PASSWORD
