---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vector-agent
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vector
      version: 0.40.0
      sourceRef:
        kind: HelmRepository
        name: vector
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  dependsOn:
    - name: loki
      namespace: monitoring
  values:
    role: Agent
    service:
      enabled: false
    customConfig:
      data_dir: /vector-data-dir
      api:
        enabled: false
      sources:
        kubernetes_logs:
          type: kubernetes_logs
      sinks:
        kubernetes_sink:
          type: vector
          inputs:
            - kubernetes_logs
          address: vector:6000
          version: "2"
