---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: developer
spec:
  interval: 15m
  chart:
    spec:
      chart: harbor
      version: 1.16.2
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    externalURL: https://registry.${DOMAIN}
    portal:
      image:
        repository: ghcr.io/goharbor/harbor-portal
    core:
      image:
        repository: ghcr.io/goharbor/harbor-core
      podAnnotations:
        secret.reloader.stakater.com/reload: harbor-secret
    jobservice:
      image:
        repository: ghcr.io/goharbor/harbor-jobservice
      jobLoggers:
        - stdout
    registry:
      registry:
        image:
          repository: ghcr.io/goharbor/registry-photon
      controller:
        image:
          repository: ghcr.io/goharbor/harbor-registryctl
    database:
      internal:
        image:
          repository: docker.io/goharbor/harbor-db
    redis:
      internal:
        image:
          repository: docker.io/goharbor/redis-photon
    trivy:
      enabled: false
    notary:
      enabled: false
    persistence:
      enabled: true
      persistentVolumeClaim:
        registry:
          existingClaim: harbor-registry
        jobservice:
          scanDataExports:
            existingClaim: harbor-jobservice
        database:
          existingClaim: harbor-database
        redis:
          existingClaim: harbor-redis
    expose:
      type: ingress
      tls:
        enabled: true
        certSource: none
      ingress:
        hosts:
          core: registry.${DOMAIN}
        className: traefik
    updateStrategy:
      type: Recreate
  valuesFrom:
    - kind: Secret
      name: harbor-secret
      valuesKey: secret
      targetPath: secretKey
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: harbor-registry
            patch: |-
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1name
                value: harbor
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1instance
                value: harbor
          - target:
              kind: Deployment
              name: harbor-jobservice
            patch: |-
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1name
                value: harbor
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1instance
                value: harbor
          - target:
              kind: StatefulSet
              name: harbor-database
            patch: |-
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1name
                value: harbor
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1instance
                value: harbor
          - target:
              kind: StatefulSet
              name: harbor-redis
            patch: |-
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1name
                value: harbor
              - op: add
                path: /spec/template/metadata/labels/app.kubernetes.io~1instance
                value: harbor
