apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: argo-cd
    version: 9.2.2
    repo: https://argoproj.github.io/argo-helm
    releaseName: argocd
    namespace: argocd
    includeCRDs: true
    valuesFile: values.yaml
resources:
  - ingress.yaml
  - prometheusrule.yaml
  - secret.yaml
