controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/skyra-project/haste-server
          tag: latest@sha256:b72d50e511cb015078c8717d84376b81de5f57ac34a8ad654926e56ba0b9cf2d
        args:
          - /bin/sh
          - -c
          - sed -i -e 's/aeiou/ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/'
            -e 's/bcd.*xyz/ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/'
            /usr/src/app/dist/backend/lib/keyGenerator.js && sed -i 's/"txt",""/"txt","txt"/'
            /usr/src/app/dist/frontend/assets/index.js && sed -i 's/.\/data/\/data/'
            /usr/src/app/dist/backend/stores/FileDocumentStore.js && yarn run start
        env:
          KEY_LENGTH: 6
          RATE_LIMIT_MAX: 1000000000
    pod:
      securityContext:
        fsGroup: 1000
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        port: 8290
ingress:
  main:
    className: traefik
    hosts:
      - host: p.chamburr.xyz
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
persistence:
  data:
    existingClaim: haste
    globalMounts:
      - path: /data
