apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: cilium
    version: 1.18.5
    repo: https://helm.cilium.io
    releaseName: external-secrets
    namespace: kube-system
    includeCRDs: true
    valuesFile: values.yaml
resources:
  - config
  - middleware.yaml
  - secret.yaml
